* {
	margin: 0 auto;
}

body {
	background-color: #add8e6;
}

#HEAD {
	width: 900px;
	border: 3px double #000;
	font-size: 42;
	text-align:  center;
}

#TRESC {
	width: 900px;
	border: 3px double #000;
	float: center;
}

#FOOTER {
	width: 900px;
	border: 3px double #000;
	text-align: center;
}